<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- CLIENT App.config-->
		<!-- Server IP -->
		<add key="serverIP" value="127.0.0.1"/>
		<!-- Server Port -->
		<add key="serverPort" value="5000"/>
		<!-- Client Threads -->
		<add key="clientThreads" value="3"/>
	</appSettings>
</configuration>