<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- SERVER App.config -->
		<!-- Server Host IP -->
		<add key="serverIP" value="127.0.0.1"/>
		<!-- Server Host Port -->
		<add key="serverPort" value="5000"/>
		<!-- Max File Size Limit for buffer stop -->
		<add key="maxFileSize" value="10000"/>
	</appSettings>
</configuration>