<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- 
		NOTE: When testing 2 separate computers make sure 
		1. The A01Server serverIP is set to the server computer IP address
		2. The A01Client App.config serverIP is set the server computer IP address as well to connect properly over the network.
		
		You acces your ip address by:
		1. Open power shell or command prompt
		2. Type "ipconfig" and press enter
		3. Look for "IPv4 Address" under your active network connection
		
		Thank you,
		Cy
		-->
		<!-- SERVER App.config -->
		<!-- Server Host IP (local host = 127.0.0.1 -->
		<add key="serverIP" value="127.0.0.1"/>
		<!-- Server Host Port -->
		<add key="serverPort" value="5000"/>
		<!-- Max File Size Limit for buffer stop -->
		<add key="maxFileSize" value="100000"/>
	</appSettings>
</configuration>